*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1d3849;
}

.title-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.title-item {
  font-family: "Courier New", Courier, monospace;
  flex-shrink: 0;
  font-size: 50px;
  color: #e0e7eb;
}

.calculator-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;

  /* border: solid 2px red; */
}
.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  padding-top: 15px;
  background-color: #a2bbcf;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #e07a5f;
  padding: 5px 15px;
  border-radius: 10px;
  width: 345px;
  height: 100px; /* Increased height to fit two lines */
  margin-bottom: 10px;
}

.history-item {
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  min-height: 20px;
  cursor: default;
  user-select: none;
}

.input-item {
  border: none;
  background: transparent;
  color: white;
  font-size: 45px;
  width: 100%;
  text-align: right;
  cursor: default;
  user-select: none;
  outline: none;
  overflow-x: auto;
  white-space: nowrap;
}

.input-item::-webkit-scrollbar {
  display: none;
}

.input-item:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.row-container {
  display: flex;
  flex-direction: column;
  /* border: solid 2px orange; */
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 5px;
  margin-top: 10px;
  /* border: blue 2px solid; */
}

.button-item {
  border: none;
  background-color: #e07a5f;
  border-radius: 20px;
  color: white;
  width: 70px;
  height: 70px;
  font-size: 40px;
  flex: 1;
}
.button-item:active {
  transform: scale(0.98);
}
